/* You can add global styles to this file, and also import other style files */
.card-header {
    background: #50a3a2;
    background: -webkit-gradient(linear, left top, right bottom, from(#50a3a2), to(#53e3a6));
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}
button {
    background: #50a3a2;
    background: -webkit-gradient(linear, left top, right bottom, from(#50a3a2), to(#53e3a6));
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}